@page
@model ac.app.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Managing Companies";
}
<div class="text-center">
    <h1 class="display-4">
        <a href="http://healthimpact.health/" target="_blank">
            <img src="/img/hi-logo.png"
                 alt="Health Impact" />
        </a>
    </h1>
</div>
<div class="card bg-primary">
    <div class="card-header text-white">
        Managing Companies
    </div>
    <div class="card-body bg-white">

        <nav class="navbar navbar-light bg-light">
            <a asp-page="./Create" class="btn btn-success">Create New</a>
        </nav>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Division</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    var price = item.Price.ToString("c");
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Company.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Division.Name)</td>
                        <td>@Html.DisplayFor(modelItem => price)</td>
                        <td>
                            <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>

    </div>
</div>